<mat-card appearance="outlined">
  <img matCardImage src="https://img.freepik.com/fotos-gratis/casal-romantico-abracando-no-campo-em-um-dia-ensolarado_1157-49584.jpg?t=st=1737507520~exp=1737511120~hmac=add1bfccec580e3e7e6ba762e219e56383cf6058f95f9895b16e91ce40daf5d6&w=1380">

  <mat-card-header>
    <mat-card-title>Bryan e Mia</mat-card-title>
    <mat-card-subtitle>Vivendo veloses e furiosos</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, neque ex dolorem dolore velit, reprehenderit ipsum aspernatur expedita eligendi illo impedit. Cum harum aperiam molestiae, laudantium veritatis ab totam tenetur.
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary" [routerLink]="''"><i class="ph ph-pencil-simple"></i> Editar</button>
    <button mat-stroked-button color="primary" [routerLink]="''"><i class="ph ph-eyes"></i> Visualizar</button>
  </mat-card-actions>
</mat-card>
