.messages-container {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  gap: 15px;
  width: 100%;
  max-width: 900px;
  align-items: center;

  * {
    font-family: 'Montserrat', sans-serif;
  }
}

.message-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  &.right {
    justify-content: flex-end;
  }
}

.message-content {
  text-align: start;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 60%;
  min-width: 400px;
  min-height: 64px;
  font-size: 1.1em;
  color: #1d1c1c;
  background-color: #f1f1f1;
}

i {
  font-size: 1.3em;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.msg-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .messages-container {
    max-width: 90%;
  }

  .message-content {
    width: 100%;
    min-width: unset;
  }

  .message-wrapper {
    justify-content: center;

    &.right {
      justify-content: center;
    }
  }
}
