<div class="container">
  <div class="row">
    <img src="./assets/image/landing-page/image01.png" alt="Imagem 1" class="image" />
    <div class="text">
      <p class="title">Economize tempo e dinheiro</p>
      <p>Não é mais necessário investir tanto tempo e dinheiro na organização de listas de presente. Nossa plataforma intuitiva permite que você configure tudo em minutos,  garantindo que cada detalhe seja perfeito sem gastos desnecessários.</p>
    </div>
  </div>
  <div class="row">
    <div class="text">
      <p class="title">Registre o apoio recebido pra sempre</p>
      <p>Transforme a experiência de receber presentes em algo significativo e memorável, onde cada detalhe reflete sua personalidade e cada mensagem dos seus apoiadores aquece o coração.</p>
    </div>
    <img src="./assets/image/landing-page/image02.png" alt="Imagem 2" class="image" />
  </div>
  <div class="row">
    <img src="./assets/image/landing-page/image03.png" alt="Imagem 3" class="image" />
    <div class="text">
      <p class="title">Tenha liberdade de escolha</p>
      <p>você não precisa mais receber itens que não combinam com seu estilo ou necessidades. Em vez disso, você vai receber em dinheiro, permitindo que você escolha exatamente o que deseja. Personalize suas escolhas e garanta que cada presente seja perfeito para você.</p>
    </div>
  </div>
</div>
