:host {
  text-align: center;

  h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 800;
    font-size: 36px;
  }






      background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(220, 240, 220, 1) 100%);


      background: radial-gradient(circle, rgba(255, 251, 251, 1) 0%, rgba(213, 233, 206, 1) 100%);


      background: radial-gradient(circle, rgba(240, 240, 240, 1) 0%, rgba(200, 220, 200, 1) 100%);


      background: radial-gradient(circle, rgba(255, 251, 251, 1) 0%, rgba(213, 233, 206, 1) 100%);



  .item-background {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.7em;
    margin: 0 auto;
    max-width: 300px;
    font-weight: 500;
    border-radius: 0;
    background: radial-gradient(circle, rgba(255, 251, 251, 1) 0%, rgb(225, 233, 223) 100%);

  }


}
