:host {
  font-family: 'Montserrat', sans-serif;

  .custom-progress-bar {
    height: 8px;
    max-width: 300px;
    margin-top: 16px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.151);
  }

  .progress {
    border-radius: 10px;
    height: 100%;
    transition: width 0.3s ease;
  }

  .progress-label {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .custom-progress-bar {
      width: 100%;
    }
  }
}
