.content {
  padding-top: 115px;
  min-height: 94vh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  overflow-x: hidden;

  & > div:nth-child(2) {
    flex-grow: 1;
  }
}


@media (max-width: 768px) {
  .content{
    flex-direction: column;
    margin: 0 auto 30px auto;
  }
}
