.content {
  padding-top: 115px;
  min-height: 94vh;
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
}

@media (max-width: 768px) {
  .content{
    flex-direction: column;
  }
}
