@let giftList = giftList$();


@if(!giftList) {
  <div class="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}
@else {

<app-top-nav
  [r_themeColor]="giftList.highlightColor"
  [extendedBackground]="true"
  [defaltLogoTemplate]="false"
  [user]="true" />

<div class="content">
  <div>
    <app-summary
      [r_editable]="true"
      [r_giftListData]="giftList" />
  </div>

  <div>
    <app-evolution-bar
      [r_totalValue]="giftList.totalValue"
      [r_valueCollected]="giftList.valueCollected"
      [r_themeColor]="giftList.highlightColor"
      [r_contributorCount]="giftList.contributorCount" />

    <app-item-list
      [r_editable]="true"
      [r_themeColor]="giftList.highlightColor"
      [r_items]="giftList!.items ?? []" />
  </div>
</div>

}

<app-minimalist-footer />
