.mdc-card {
  width: 100%;
  min-height: 500px;
  width: 360px;
  border-radius: 8px;
  margin: 0 16px 0 8px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 16px;
  user-select: none;
}

@media (max-width: 768px) {
  .mdc-card{
    margin: 0 auto;
    max-width: 350px;
  }
}
