//colors
$verde-escuro: #152B11;
$verde-palmeira: #CBDFB2;

.ol-verde-escuro {
  color: $verde-escuro !important;
  border-color: $verde-escuro !important;
}

.bg-verde-palmeira {
  color: $verde-escuro !important;
  background-color: $verde-palmeira !important;
}
