//colors
$verde-escuro: #152B11;
$verde-palmeira: #CBDFB2;



.green {
  background-color: #152B11;
}

.verde-claro {
  background-color: #d6ecb894;
}
.verde-claro-hover :hover{
  background-color: #d6ecb894;
}


.btn-ol-dark {
  color: #fff !important;
  border-color: #fff !important;
  font-weight: 300 !important;
  background-color: transparent;
}

.btn-ol-verde-escuro {
  color: $verde-escuro !important;
  border-color: $verde-escuro !important;
  background-color: transparent;
}

.btn-bg-verde-palmeira {
  color: $verde-escuro !important;
  background-color: $verde-palmeira !important;
}
