.container {
    padding         : 8px;
    width           : 100%;
    max-width       : 360px;
}

.user-area {
    display: flex;
    font-size: 1.1em;
    font-weight: 500;
    padding: 8px;
    align-items: center;
    p {
      padding-left: 8px;  
    }
}

.menu-area {
    height: 100px;
    align-items: center;
    // alterar no futuro
}
