<mat-dialog-content>
  <span class="title">Selecionar imagem</span>

  <span class="input-label">Selecionar imagem por URL</span>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="urlImage"
      placeholder="Digite a URL da imagem" />
  </mat-form-field>

  <button
    mat-flat-button
    smoothBackGround="{{data.themeColor}}"
    (click)="fileInput.click()">
    <i class="ph ph-devices"></i> Ou selecionar do dispositivo
  </button>



  <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />

  <div class="action">
    <button
      mat-flat-button
      (click)="onConfirm()"
      [disabled]="!urlImage && !base64Image()"
      themeColor="{{data.themeColor}}">
      Confirmar
    </button>

    <button
      mat-flat-button
      (click)="onCancel()">
      Cancelar
    </button>
  </div>
</mat-dialog-content>
