<span class="title">Selecionar imagem</span>

<mat-form-field>
  <mat-label>Selecionar imagem por URL</mat-label>
  <input matInput [(ngModel)]="urlImage" />
</mat-form-field>


<span class="input-label text">ou</span>

<button mat-stroked-button extended (click)="fileInput.click()"><mat-icon>image</mat-icon> Selecionar do dispositivo</button>
<input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden />

@if(filePath()){
  <p class="file-path"><b>Arquivo selecionado: </b>{{ filePath() }}</p>
}

<mat-dialog-actions>

  <button mat-button (click)="onSelectImage()" smoothBackGround={{data.themeColor}}>Confirmar</button>
  <button mat-button (click)="onCancel()" textColor={{data.themeColor}}>Cancelar</button>

</mat-dialog-actions>
