<div class="fa-container">

    <div>
        <a href=""><img src="./assets/image/icon/instagram.png" alt="instagram"></a>
        <a href=""><img src="./assets/image/icon/facebook.png" alt="facebook"></a>
        <a href=""><img src="./assets/image/icon/globe.png" alt="website"></a>
    </div>

    <div class="link">
        <a href="">Uso de cookies</a>
        <a href="">Termos e condições de uso</a>
    </div>

    <span>Lista de presentes eChá</span>
    <span>All rights reserved</span>
</div>