.mat-toolbar-row,
.mat-toolbar-single-row {
  padding-top: 8px;
  justify-content: center;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

mat-toolbar {
  background-color: #fff;
  color           : #fff;
  padding         : 16px;
}

img {
  height: 48px;
  width : auto;
}

img:hover {
  cursor: pointer;
}

.profile {
  margin-top: 16px
}
.profile:hover {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

button {
  margin: 0 6px;
}

.menu {
  width: 200px !important;
  overflow-x: hidden;
}
