mat-toolbar {
  background-color: #fff;
  color           : #fff;
  padding         : 16px;
}

img {
  height: 48px;
  width : auto;
}

img:hover {
  cursor: pointer;
}

.profile:hover {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

button {
  margin: 0 6px;
}

.menu {
  width: 200px !important;
  overflow-x: hidden;
}
