// .ca {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

h2,h3 {
  text-align: center;
  padding: 0 25px;
}

mat-form-field {
  width: 100%;
  max-width: 90%;
}
