$action-button: #CBDFB2;
$text-action-button: #12400B;
$icon-color: #acacac;

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 100%;
  max-width: 428.4px;
  min-width: 300px;
}

form mat-form-field {
  width: 100%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  gap: 5px;
}

.item1,
.item4,
.item5 {
  grid-column: 1 / -1;
}

.item2,
.item3 {
  grid-column: span 1;
}


.mat-mdc-outlined-button {
  border-width: 2px;
  color: $text-action-button !important
}

button {
  font-weight: 400;  color: $text-action-button !important;
}

.mat-mdc-unelevated-button {
  background-color: $action-button !important;
  color: $text-action-button !important;
  font-weight: 450 !important;
}

mat-icon img {
  width: 18px;
}

mat-icon {
  color: $icon-color !important;
}

.recovery-button {
  align-self: flex-end;
  margin-left: auto;
}

.full-width-button {
  width: 100%;
  box-sizing: border-box;
}

.terms {
  font-size: 0.8em;
  padding-bottom: 15px;
}
