:host {
  display: block;
  text-align: center;

  * {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-weight: 600;
  }

  .field-title {
    text-align: left;
    font-weight: 600;
  }

  .card {
    padding: 16px;
    height: auto;
    width: 300px;

    justify-content: center;
  }

  button {
    margin-bottom: 12px;
    width: 260px;
  }
  .full-width{
    width: 100%;
    width: 260px;
  }
}
