@let user = user$();

<mat-toolbar>
  <div class="tn-content">

    @if (user === null || undefined) {
    <img src="assets/image/logo/default-logo.png" alt="eCha">

    } @else {
    <img src="assets/image/logo/white-logo.png" alt="eCha">
    }
    <span class="spacer"></span>


    <div class="action">
      @if (user === null || undefined) {

      <button mat-stroked-button class="btn-ol-verde-escuro" [routerLink]="'auth/login'">Entrar</button>
      <button mat-flat-button class="btn-bg-verde-palmeira">Crie seu chá</button>
      } @else {

      <button mat-stroked-button class="btn-ol-dark">Meu saldo</button>
      <button mat-button (click)="logout()"><mat-icon>logout</mat-icon></button>
      }
    </div>

    <div class="sidenav-menu">
      <button mat-button><mat-icon>menu</mat-icon></button>
    </div>
  </div>
</mat-toolbar>
