<mat-toolbar  themeColor={{r_themeColor}}>
  <div class="tn-content">

    @if (defaltLogoTemplate) { <img src="assets/image/logo/default-logo.png" alt="eCha"> }
    @else { <img src="assets/image/logo/white-logo.png" alt="eCha"> }

    <span class="spacer"></span>

    <section class="action">

      @if (user) {
        <button mat-stroked-button class="btn-ol-dark" (click)="getBalance()">Meu saldo</button>
        <button mat-button (click)="onExit()"><mat-icon>logout</mat-icon></button>
      } @else {

        @if( r_themeColor == 'white') {
          <button mat-stroked-button class="btn-ol-verde-escuro" [routerLink]="'/auth/login'">Entrar</button>
          <button mat-flat-button class="btn-bg-verde-palmeira" [routerLink]="'/auth/register'">Crie seu chá</button>
        }@else {
          <button mat-stroked-button class="btn-ol-dark" [routerLink]="'/auth/login'">Entrar</button>
          <button mat-stroked-button class="btn-ol-dark-secondary" [routerLink]="'/auth/register'">Crie seu chá</button>
        }
      }
    </section>

    <div class="menu">
      <button mat-mini-fab [matMenuTriggerFor]="menu"><mat-icon [ngClass]=" r_themeColor == 'white' ? 'white-icon' : 'icon-user'">menu</mat-icon></button>
      <mat-menu #menu="matMenu">

        @if (user) {
          <button mat-stroked-button class="btn-ol-dark" (click)="getBalance()">Meu saldo</button>
          <button mat-button (click)="onExit()"><mat-icon>Sair para Home</mat-icon></button>
        } @else {
          <button mat-menu-item [routerLink]="'/auth/login'">Entrar</button>
          <button mat-menu-item [routerLink]="'/auth/register'">Crie seu chá</button>
        }

      </mat-menu>
    </div>
  </div>
</mat-toolbar>
@if(extendedBackground) { <div class="background-page" themeColor={{r_themeColor}}></div> }

