:host {

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    justify-content: center;
    background-color: #fff;
  }

  .tn-content {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1480px;
  }

  button {
    border-radius: 25px;
    margin: 0 8px 0 8px;
  }

  img {
    height: 48px;
    width: auto;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
