<section class="gift-lists">
  <h2>Minhas listas de presentes</h2>

  <div class="action">
    <button mat-raised-button color="primary" [routerLink]="'/creation'"><mat-icon>add</mat-icon>Criar lista</button>
  </div>

  <section class="cards-ctn">
    <app-card />
    <app-card />
    <app-card />
    <app-card />
  </section>


  <!-- <div smoothBackGround='green' class="msg-system slide-in-from-right">
      <p>Nenhuma <strong>lista de presentes</strong> encontrada.</p>
      <p>"É hora de planejar seus sonhos! Comece criando sua lista de presentes e veja como é fácil realizá-los."</p>
    </div> -->

</section>
