<section class="gift-lists">
  <h2>Minhas listas de presentes</h2>

  <div class="{{smoothColor}}-hover action">
    <button class="btn-hover-effect "><mat-icon>add</mat-icon><span>Criar lista</span></button>
  </div>



  <div smoothBackGround={{smoothColor}} class="msg-system slide-in-from-right">
    <p>Nenhuma <strong>lista de presentes</strong> encontrada.</p>
    <p>"É hora de planejar seus sonhos! Comece criando sua lista de presentes e veja como é fácil realizá-los."</p>
  </div>
</section>
