<app-vertical-card>
  <app-profile-picture></app-profile-picture>
  <span class="p-name">Geovanna Passos</span>
  <mat-nav-list>
    <mat-list>
      <button class="btn-hover-effect"><mat-icon class="material-symbols-rounded">person</mat-icon><span>Perfil</span></button>

    </mat-list>
  </mat-nav-list>
</app-vertical-card>

<section class="gift-lists">
  <h2>Listas de presentes</h2>

  <div class="verde-claro-hover">
    <button class="btn-hover-effect "><mat-icon>add</mat-icon><span>Criar lista</span></button>
  </div>


  <div class="msg-system slide-in-from-right verde-claro">
    <p>Nenhuma <strong>lista de presentes</strong> encontrada.</p>
    <p>"É hora de planejar seus sonhos! Comece criando sua lista de presentes e veja como é fácil realizá-los."</p>
  </div>
</section>
