:host {
  width: 100%;
  min-height: 90vh;
  display: flex;

  .p-name {
    font-size: 1.3em;
    font-weight: 500;
  }

  .gift-lists {
    margin-top: 134px;
    padding: 8px;
  }

  h2 {
    font-weight: 600;
  }

  .mdc-list {
    // remover - menu
    width: 100%;
  }

  .mat-icon {
    margin-right: 8px;
  }

  @media (max-width: 600px) {
    app-vertical-card {
      display: none;
    }
  }
}
