<div class="content">

  <div class="fa">
    <app-filter
      [placeholder]="'Pesquise por um item'"
      (filterChange)="onFilter($event)" />
  </div>

  <h1>Itens</h1>
  <app-category-chip
    (filterChange)="onChipFilter($event)" />

  @if(r_editable) {
    <div class="{{r_themeColor}}-hover action">
      <button class="btn-hover-effect" (click)="showAddItemDialog()"><span>+ Adicionar item</span></button>
    </div>
  }

  @for (item of filteredItems; track $index) {
    <app-item-card
      [r_editable]="r_editable"
      [r_themeColor]="r_themeColor"
      [r_item]="item"
      (eventPaymentClick)="handlePaymentDialog($event)"
      (eventEditClick)="handleEdit($event)"
      (eventDeleteClick)="handleDelete($event)"
    />
  } @empty {

    @if (filterValue != '' ) {
      <div smoothBackGround='{{r_themeColor}}' class="msg-system slide-in-from-right">
        <p>Nenhum <b>item</b> encontrado em sua lista de presentes para a busca <b>{{ filterValue }}</b> ..</p>
      </div>
    } @else {
      <div smoothBackGround='{{r_themeColor}}' class="msg-system slide-in-from-right">
        <p>Nenhum <b>item</b> encontrado em sua lista de presentes..</p>
        <p>"Que tal começar agora? Adicione os itens dos seus sonhos e veja como é fácil realizá-los!"</p>
      </div>
    }
  }
</div>
