:host {
  * {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    text-align: center;
  }

  .radio-input-container {
    display: flex;
    align-items: center;

    .mat-mdc-form-field {
      margin-left: 16px;
    }
  }

  .radio-group {
    margin-left: 16px;
  }

  button {
    margin: 0 auto;
    width: 320px;
  }

  .payment-form {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
  }

  .payment-pix {
    .mat-mdc-form-field {
      width: 100%;
      max-width: 500px;
    }
  }

  .actions {
    margin: 20px 0;
  }

  @media (min-width: 600px) {
    .payment-form {
      grid-template-columns: 1fr 1fr;
    }
  }


}
