:host {
  display: block;
  height: 600px;
}

.banner {
  height: 100%;
  width: 100%;
  max-height: 550px;
  max-width: 1090px;
  background-color: #EEF4E7;
  border-radius: 0 0 80px 80px;
  margin: 0 auto;
}
