<app-vertical-card>

  @if(r_editable) {
    <button
      mat-icon-button
      themeColor="{{r_giftListData.highlightColor}}"
      matTooltip="Salvar Alterações"
      (click)="saveGiftList()">
      <i class="ph ph-floppy-disk"></i>
    </button>
  }

  <app-profile-picture class="user-image"
    [image]="r_giftListData.image"
    [r_editable]="r_editable"
    [r_iconName]="'ph ph-image-square'"
    [size]="110"
    [r_themeColor]="r_giftListData.highlightColor"
    (imageDataChange)="onImageChange($event)" />

  <h2> {{ r_giftListData.title}} </h2>
  <span> Por <b>{{ r_giftListData.creator}}</b></span>

  <button mat-stroked-button (click)="share()">Compartilhar</button>

  @if(r_giftListData.eventDate == null && r_editable){
    <button mat-button (click)="showEventDateDialog()">Adicionar data do chá</button>
  } @else {
    <div (click)="showEventDateDialog()" class="dateEvent">
      @if (r_giftListData.eventDate && calculateDaysUntil(r_giftListData.eventDate)) { <p>{{ remainingDays }} dias até o chá</p> }
    </div>
  }

  <app-summary-data [r_message]="r_giftListData.description" (click)="showSummaryMessageDialog()"/>

  <app-top-contributors
    [r_editable]="r_editable"
    [r_key]="r_giftListData.id"
    [r_messageList]="r_giftListData.contributions"
    [r_theme]="r_giftListData.highlightColor" />
</app-vertical-card>
