<div class="title-area">
  <h2>BOM TE TER DE VOLTA</h2>
  <h3>Vamos ver como seus presentes estão?</h3>
</div>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Seu e-mail</mat-label>
    <input matInput placeholder="exemplo@email.com" [formControl]="email">
    <mat-error *ngIf="email.hasError('required')">O email é obrigatório</mat-error>
    <mat-error *ngIf="email.hasError('email')">Por favor, insira um email válido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Informe sua senha aqui" [type]="hide ? 'password' : 'text'" [formControl]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="password.hasError('required')">A senha é obrigatória</mat-error>
  </mat-form-field>
</form>
<button mat-button class="recovery-button">Esqueci minha senha</button>

<div class="grid-container">
  <div class="item1"><button mat-flat-button class="full-width-button">Entrar</button></div>
  <div class="item2"><button mat-flat-button class="full-width-button"><mat-icon><img src="./assets/image/icon/google.png"></mat-icon>Google</button></div>
  <div class="item3"><button mat-flat-button class="full-width-button"><mat-icon><img src="./assets/image/icon/facebook.png"></mat-icon>Facebook</button></div>
  <div class="item4">
    <p>ou</p>
  </div>
  <div class="item5"><button mat-stroked-button color="primary" class="full-width-button">Não tenho conta ainda</button></div>
  <div class="item5"><button mat-button color="primary" class="full-width-button">Continuar desconectado</button></div>

</div>
