$action-button: #CBDFB2;
$text-action-button: #12400B;
$icon-color: #acacac;
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px;
}

.title-area {
  padding-bottom: 35px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

h3 {
  font-size: 14px;
}

form {
  width: 100%;
  max-width: 428.4px;
  min-width: 300px;
}

form mat-form-field {
  width: 100%;
}

.recovery-button {
  align-self: flex-end;
  margin-left: auto;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5px;
  gap: 5px;
}

.item1,
.item4,
.item5 {
  grid-column: 1 / -1;
}

.item2,
.item3 {
  grid-column: span 1;
}

.full-width-button {
  width: 100%;
  box-sizing: border-box;
}

.mat-mdc-outlined-button {
  border-width: 2px;
  color: $text-action-button !important
}

button {
  font-weight: 400;  color: $text-action-button !important;
}

.mat-mdc-unelevated-button {
  background-color: $action-button !important;
  color: $text-action-button !important;
  font-weight: 450 !important;
}

mat-icon img {
  width: 18px;
}

mat-icon {
  color: $icon-color !important;
}
