@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container-full {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.background-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 250px;
}
