html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container-full {
  min-height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.spacer {
  flex: 1 1 auto;
}


// area de conteúdo
.ca {
  // background-color: #fff;
  width: 100%;
  max-width: 1480px;

}
