<form [formGroup]="creationForm">

  <div class="row gap-8">
    <app-profile-picture
      [r_iconName]="'ph ph-image-square'"
      class="collumn col-2"
      [size]="100" [themeColor]="currentTheme"
      [r_editable]="true"
      (imageDataChange)="onImageDataChange($event)" />

    <div class="collumn col-10">
      <div class="input-label">Título da lista de presentes</div>
      <mat-form-field>
        <input matInput placeholder="Ex. Chá de casa nova da let" formControlName="title">
        @if (creationForm.get('title')?.invalid) {
        <mat-error>{{getErrorMessage('title')}}</mat-error>
        }
      </mat-form-field>

      <app-select-color (selectedColor)="onColorChange($event)" />
    </div>

  </div>

  <section>
    <div class="input-label">Fonte escolhida</div>
    <mat-chip-listbox formControlName="fontId">
      @for (item of fonts; track item) {
        <mat-chip-option [value]="item.fontId" smoothBackGround={{currentTheme}}>
          {{ item.name }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
  </section>


  <section>
    <div class="input-label">Recadinho de agradecimento do recibo</div>
    <mat-form-field class="example-full-width">
      <textarea matInput
        placeholder="Deixe aqui uma mensagem carinhosa que vai aparecer pras pessoas que te ajudarem. Mostre um pouco da sua gratidão aos seus entes queridos <3"
        style="height: 116px;" formControlName="description"></textarea>
    </mat-form-field>


  </section>

  <button mat-flat-button class="full-width-button" smoothBackGround={{currentTheme}} (click)="onSubmit($event)"> Pronto!
  </button>
  <div class="item5"><button mat-button textColor={{currentTheme}} class="full-width-button">Use as configurações padrão</button></div>

</form>
