<app-top-nav
  [r_themeColor]="giftList.highlightColor"
  [extendedBackground]="true"
  [defaltLogoTemplate]="false"
  [user]="false" />

<div class="content">
  <div>
    <app-summary
      [r_editable]="false"
      [r_giftListData]="giftList" />
  </div>

  <div>
    <app-evolution-bar
      [r_totalValue]="giftList.totalValue"
      [r_valueCollected]="giftList.valueCollected"
      [r_themeColor]="giftList.highlightColor"
      [r_contributorCount]="giftList.contributorCount"/>

    <app-item-list
      [r_editable]="false"
      [r_listId]="giftList.id"
      [r_themeColor]="giftList.highlightColor"
      [r_items]="giftList.items" />
  </div>
</div>
<app-minimalist-footer />
